# Fisiere baze de date
*.db
*.sqlite3

# Fisiere temporare Python
__pycache__/
*.pyc

# Environment virtual
venv/
.env/

# Fisiere generate Flask / debug
instance/
*.log

# Cache-uri editor (VSCode, PyCharm)
.vscode/
.idea/

# Foldere excluse
/bonuri/
/old/

# Backups created by migration scripts
expenses_backups/
*.bak
*.bak_*
expenses.db.pre_rename_*
