<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Gestionare Produse și Cheltuieli</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Acasă</a>
        <a href="/cheltuieli">Cheltuieli</a>
        <a href="/reports">Rapoarte</a>
        <a href="/reports/monthly">Rapoarte lunare</a>
        <a href="/reports/products">Rapoarte pe produse</a>
        <a href="/reports/stores">Rapoarte pe magazine</a>
    </div>
    <div class="container">
        <h1>Gestionare Produse și Cheltuieli</h1>

        <section class="section">
            
            <p>
                <a class="btn" href="/record_expense">Inregistrare cheltuială</a>
            </p>
        </section>

        <section class="section">
            <p><a href="/stores/new" class="btn">Adaugă magazin nou</a></p>
        </section>

        <section class="section">
            
            <p>
                <a class="btn" href="/cheltuieli">Cheltuieli</a>
            </p>
        </section>

        <section class="section">
            
            <p><a href="/reports" class="btn">Rapoarte</a></p>
        </section>
    </div>
</body>
</html>
